
<!DOCTYPE html>
<html lang="en">
{% load static %}
<script src="{%  static 'my_app/main.js' %}"> </script>

<head>
    <!--Header Blue Starts-->
<!--Blue Header Files Starts-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>IP Reverse Tracking & Content Segmentation</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
<link rel="stylesheet" href="{% static 'my_app/Header-Blue.css' %}">
<!--Our File Starts-->

<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="{% static 'my_app/home_page.css' %}"/>
<!--Header Blue Ends-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'my_app/general.css' %}">
<meta charset="UTF-8">
<title>IP Reverse Tracking & Content Segmentation</title>
</head>

<body>
<!--Header Blue Body Starts-->
<div>
    <div class="header-blue">
        <nav class="navbar navbar-default navigation-clean-search">
            <div class="container">
                <div class="navbar-header"><a href="Home"> HomePage</a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">

                    <p class="navbar-text navbar-right"><a class="navbar-link login" href="#">Log In</a> <a
                            class="btn btn-default action-button" role="button" href="#">Sign Up</a></p>
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <div>
                    <div style="text-align: center;"><h1>Domain To IP Conversion and Categorization.</h1></div>
                </div>
            </div>
        </div>
        <!--Form Code Starts-->
        <div class="container">
            <div class="form-style-6 col-lg-6">
                <h1>Domain To IP</h1>
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                 <button  onmouseleave=myFunction()>Submit</button>
                </form>
            </div>
            <div id ="Pop_up" hidden>

            <div class="col-lg-6">
                <h1 style="color: white; text-align: center">Domain Name is   : {{ text1 }}</h1>
                <h1 style="color: white; text-align: center">IP is            :{{ text }}</h1>
                <h1 style="color: white; text-align: center">Content Category : {{content_cat}}</h1>
                <h1 style="color: white; text-align: center">Malicious        : </h1>


            </div>


            </div>
            <div class="logo">
            <img src="{% static 'my_app/dice.png' %}">
                 </div>

        </div>
    </div>
</div>


<!--Form Code Ends-->


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>
