<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!--Header Blue Starts-->
    <!--Blue Header Files Starts-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Reverse Tracking & Content Segmentation</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{% static 'my_app/Header-Blue.css' %}">
    <!--Our File Starts-->

    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'my_app/home_page.css' %}"/>
    <!--Header Blue Ends-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'my_app/general.css' %}">
    <meta charset="UTF-8">
    <title>IP Reverse Tracking & Content Segmentation</title>
</head>

<body>
<!--Header Blue Body Starts-->
<div>
    <div class="header-blue">
        <nav class="navbar navbar-default navigation-clean-search">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand navbar-link"
                                              href="http://127.0.0.1:6000/">HomePage</a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">

                    <p class="navbar-text navbar-right"><a class="navbar-link login" href="#">Log In</a> <a
                            class="btn btn-default action-button" role="button" href="#">Sign Up</a></p>
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <div>
                    <div style="text-align: center;"><h1>IP To Domain Conversion and Categorization.</h1></div>
                </div>
            </div>
        </div>
        <!--Form Code Starts-->



        <!--Form Code Ends-->

    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>




